[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "directotree"]
	path = directotree
	url = https://github.com/louissirugue/directotree
